{% extends 'base.html.twig' %}

{% block title %}LaGomba{% endblock %}


{% block body %}  

  <p class="h1 text-center text-white">There´re so many Recipes</p>
  <p class="text-center text-white">some chosen ones</p>
<div class="index">

<!-- <h2>Simple Collapsible</h2> -->

  <a href="#demo" class="" data-toggle="collapse">
    <div class="front">
      <div class="">
        <img class="img-fluid" src="../img/cauliflower.jpg" alt="">      
      </div>
      <div class="d-flex justify-content-around icon-back p-2">
        <div class="icon">
          <img class="img-fluid" src="../img/icon-rezept.png" alt="">
        </div>
        <div class="icon img-fluid">
          <img class="img-fluid" src="../img/icon-clock.png" alt="">
        </div>
      </div>
    </div>
  </a>

  <div id="demo" class="collapse back p-2">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12">
        <h2 class="font-weight-bold">Step. 1</h2>
        <hr />
        <p class="mt-1">One layer of steamed cauliflower</p>

        <h2 class="font-weight-bold">Step. 2</h2>
        <hr />
        <p class="mt-1">
          One layer of cooced minced mushrooms with onion and
          paprika
        </p>

        <h2 class="font-weight-bold">Step. 3</h2>
        <hr />
        <p class="mt-1">
          One layer of cooced (or steamed) rice.Basmati I use
          here
        </p>

        <h2 class="font-weight-bold">Step. 4</h2>
        <hr />
        <p class="mt-1">
          One cup of (vegan) sour cream and cheese goes on
          top.
        </p>

        <h2 class="font-weight-bold">Step. 5</h2>
        <hr />
        <p class="mt-1">
          With cheese avoid strong taste otherwise the whole
          dish will taste like your cheese.
        </p>

        <h2 class="font-weight-bold">Step. 6</h2>
        <hr />
        <p class="mt-1">
          25 minutes on 180 C or until the surface is golden
          brown
        </p>

        <h2>Step. 7</h2>
        <hr />
        <p class="mt-1">A mincer and some great oyster mushrooms</p>

        <h2 class="font-weight-bold">Step. 8</h2>
        <hr />
        <p class="mt-1">minced mushroom</p>

        <h2 class="font-weight-bold">Step. 9</h2>
        <hr />
        <p class="mt-1">
          Chopped onion fries till soft with a half tablespoon
          paprika
        </p>

        <h2 class="font-weight-bold">Step. 10</h2>
        <hr />
        <p class="mt-1">
          Fry the minced mushroom with the onion base for 5
          minutes.
        </p>

        <h2 class="font-weight-bold">Step. 11</h2>
        <hr />
        <p class="mt-1">
          Try to use a steamer or you can boil the cauliflower
          for 5 minutes.
        </p>

        <h2 class="font-weight-bold">Step. 12</h2>
        <hr />
        <p class="mt-1">When soft then ready for layering.</p>

      </div>
      <div class="col-lg-5 col-md-5 col-sm-12">
        <h1 class="text-center text-uppercase text-warning font-weight-bold">a dish for 3</h1>
        <div class="d-flex justify-content-between p-3">
          <ul>
            <li>0.2</li>
            <li>50</li>
            <li>20</li>
            <li>120</li>
            <li>1</li>
            <li>2</li>
            <li>2</li>
          </ul>
          <ul>
            <li>kg</li>
            <li>g</li>
            <li>g</li>
            <li>ml</li>
            <li>TL</li>
            <li>TL</li>
            <li>TL</li>
          </ul>
          <ul>
            <li>Cauliflower</li>
            <li>Minced Mushroom</li>
            <li>Oyster Mushroom</li>
            <li>Onion</li>
            <li>Paprika</li>
            <li>Sour Cream</li>
            <li>Cheese</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}